
<!--Start Scripts!-->

<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/js/jquery.tubular.1.0.js"></script> 
<script type="text/javascript" src="assets/js/mobile.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/mouse.parallax.js"></script>
<!--End Scripts!-->

<script type="text/javascript">
	
	$(document).ready(function(){
		$(".owl-carousel").owlCarousel();
	});

</script>



<!-- Scripts !-->
<script type="text/javascript" src="assets/js/scripts.js"></script>
<!-- End Scripts !-->

