<html lang="en">

	{% include head.html %}

<body>

	<!-- Start PageLoader !-->
	<div class="loader" style="display: none;">
		<div class="loaderimg"></div>
	</div>
	<!-- End PageLoader !-->

	<div id="background" class="mouse-bg" style=""></div>
	<!--Start Pattern & Darker Background Effects!-->
	<div class="bgdark"></div>
	<div class="bgpattern"></div>
	<!--End Pattern & Darker Background Effects!-->



<!--Home Page Begins Here !-->
<div id="home-page" style="display: block;">
	<div id="home-screen">
		<div class="containerhome animated">
			<div class="container animated">
			<img src="assets/images/logo.png" alt="Fuzo Logo" class="logo animated fadeInDown">
			<h1 class="animated fadeInUp">{{ site.data.setting.title }}</h1>
			<h2><span class="fuzo">{{ site.data.setting.subtitle }}</span></h2><br>
            <!-- <span>พบกันได้ที่นี่เร็วๆนี้</span> -->
             <!-- 
			<div class="bar animated fadeInUp"><div class="specialbar"></div></div>
				<div class="countdown animated fadeIn">
					<li class="count"><span>00</span> <p>วัน</p></li> 
					<li class="count"><span>00</span> <p>ชั่วโมง</p></li>
					<li class="count"><span>00</span> <p>นาที</p></li>
					<li class="count"><span>00</span> <p>วินาที</p></li>
				</div>
				 -->
				<!--Check Scripts.js to modify the date! -->
				<div class="clear"></div>
				<div class="scrolldownhome animated bounceIn"><a href="#"><i class="fa fa-angle-double-down"></i></a></div>
			</div>
			
		</div>
	</div>
</div>
<!--Home Page Ends Here!-->





<!--About Us Begins Here!-->
<div id="aboutus" style="display: none;"><!-- aboutus !-->
	<div class="getback gabout"><i class="fa fa-angle-double-up"></i></div>

	<div class="containerabout"><!-- containerabout !-->

		<div class="container"><!-- container !-->
		<h2 class="aboutus"><span class="fuzo">{{ site.data.setting.title }}</span></h2>
		<p class="aboutp">{{ site.data.setting.quote }}</p>
		<div class="bar animated fadeInUp"><div class="specialbar"></div>

	</div>

		<div class="nextpage nextoserv"><a>ทำความรู้จักกับ {{ site.data.setting.title }}</a></div>
		<div class="col-md-12">
		<!-- Start What We Do !-->
		<div class="col-md-6 aspace">
			<h4><span class="fuzo">เราทำอะไร</span> {{ site.data.setting.title }}</h4>
			<div class="aboutbox">
				<p>{{ site.data.setting.aboutbox }}</p>
			</div>
		</div>
		<!-- End What We Do !-->
		
		<!-- Start Contact Info !-->
		<div class="col-md-6 aspace">
			<h4><span class="fuzo">ติดต่อเรา</span> {{ site.data.setting.title }}</h4>
			<div class="aboutbox">
				<ul class="contactdetails">
				<!-- <li><i class="fa fa-home"></i> {{ site.data.setting.contact.home }} </li> -->
				<!-- <li><i class="fa fa-phone"></i> {{ site.data.setting.contact.phone }} </li> -->
				<!--<li><i class="fa fa-envelope"></i> info@yourdomain.com</li>-->
				<!-- <li><a href="http://bangkokimpress.github.io/testsite"><i class="fa fa-link"></i> <span> www.bangkokimpress.com/testsite</span></a></li> -->
                <li><a href="http://www.facebook.com/{{ site.data.setting.social.facebook }}"><i class="fa fa-facebook"></i><span> Facebook</span></a></li>
                
                <li><a href="https://www.youtube.com/channel/{{ site.data.setting.social.youtube }}"><i class="fa fa-youtube"></i><span> Youtube</span></a></li>
                <li><a href="https://www.instagram.com/{{ site.data.setting.social.instragram }}/"><i class="fa fa-instagram"></i><span> Instragram</span></a></li>
				<!-- <li class="formbut nextocontact"><a>ติดต่อเรา</a></li> -->
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		<!-- End Contact Info !-->
		</div>
		</div><!-- /container !-->
		
		
		
	</div><!-- /containerabout !-->

</div><!-- /aboutus !-->

<!--About Us Ends Here!-->






<!--Our Services Begins Here!-->
<div id="ourservices"><!-- ourservices !-->
	<div class="getback gservices"><i class="fa fa-angle-double-up"></i></div>

	<div class="containerservices"><!-- containerservices !-->
		
		<div class="container"><!-- container !-->
			
		<h2 class="services">รู้จัก <span class="fuzo">เรา</span></h2>
		<p class="servicesp">{{ site.data.setting.title }}</p>
		<div class="bar animated fadeInUp"><div class="specialbar"></div></div>
			
<!--Carousel Begins Here!-->

<div class="servicesCar owl-carousel owl-theme">
  
  	<!--Service #1-->
  	<!-- {% for post in site.posts %}
	<div class="service"> 
		<i class="fa fa-desktop"></i>
		<span>{{ post.title }}</span>
		<p>{{ post.subtitle }} {{ post.excerpt }}</p>
	</div>
	{% endfor %} -->
	<!--Service #2-->
	<div class="service"> 
		<!-- <i class="fa fa-paint-brush"></i> -->
		<img src="/assets/images/brand/zumba_logo_white.svg" height="50em" ="" onerror="this.onerror=null; this.src='/assets/images/brand/zumba_logo_white.png'">
		<span>Zumba®</span>
		<p>Pretty much the most awesome workout ever. Dance to great music, with great people, and burn a ton of calories without even realizing it.</p>
	</div>
	<!--Service #3-->
	<div class="service"> 
		<!-- <i class="fa fa-bar-chart"></i> -->
		<img src="/assets/images/brand/sbz_logo_white.svg" height="50em" ="" onerror="this.onerror=null; this.src='/assets/images/brand/sbz_logo_white.png'">
		<span>Strong by Zumba®</span>
		<p>STRONG by Zumba® combines high intensity interval training with the science of Synced Music Motivation.</p>
	</div>
	<!--Service #4-->
	<div class="service"> 
		<!-- <i class="fa fa-wordpress"></i> -->
		<img src="/assets/images/brand/piloxing_logo.svg" height="50em" ="" onerror="this.onerror=null; this.src='/assets/images/brand/piloxing_logo.png'">
		<span>Piloxing®</span>
		<p>A non-stop, cardio fusion of standing pilates, boxing and dance that will push you past your limits for a sleek, sexy, and powerful you!</p>
	</div>
	<!--Service #5-->
	<!-- <div class="service"> 
		<i class="fa fa-area-chart"></i>
		<span>Social Traffic</span>
		<p>Lorem ipsum dolor sit amet, consetur adipiscing elit.</p>
	</div> -->
	<!--Service #6-->
	<!-- <div class="service"> 
		<i class="fa fa-lock"></i>
		<span>Security</span>
		<p>Lorem ipsum dolor sit amet, consetur adipiscing elit.</p>
	</div> -->

</div>


<!--Carousel Ends Here!-->

<!-- <div class="nextpage nextosubscribe"><a>Subscribe now !</a></div> -->

		</div><!-- /container !-->
	</div><!-- /containerservices !-->
</div><!-- /ourservices !-->
<!--Our Services Ends Here!-->






<!--Subscribe to us Begins here!-->


<div id="subscribe"><!-- subscribe !-->

	


	<div class="getback gsubscribe"><i class="fa fa-angle-double-up"></i></div>
	
	<div class="containersubscribe"><!-- containersubscribe !-->
		
		<div class="container"><!-- container !-->
		<h2 class="subscribes">Subscribe to <span class="fuzo">us</span></h2>
		<p class="subscribep"><!-- Short description should be right here. --></p>
		<div class="bar animated fadeInUp"><div class="specialbar"></div></div>
			
			<!--Subscribe form begins here!-->


<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
<style type="text/css">
	/*#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }*/
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div class="row">
	<div class="col-lg-12">
		
		<div id="mc_embed_signup" class="clear" >
			<form action="//wordpress.us5.list-manage.com/subscribe/post?u=92e23d788cd06f9c165da3882&amp;id=bbc6211056" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				
					<!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->

					<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		
				    <div style="position: absolute; left: -5000px;" aria-hidden="true">
				    	<input type="text" name="b_92e23d788cd06f9c165da3882_bbc6211056" tabindex="-1" value="">
				    </div>

					<div class="mc-field-group input-group input-group-lg">
						<!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label> -->
						<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="your@mail.com">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
					</div>
					
					
					
	
				    <!-- <div class="clear input-group-btn">
				    	
				    </div> -->
					<!-- <p>Powered by <a href="http://eepurl.com/L-l9H" title="MailChimp - email marketing made easy and fun">MailChimp</a></p> -->
			    </div>
			</form>
		</div>

	</div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->




			<!-- <div class="status-message"></div> -->
			<!-- <form action="http://bryanmaxim.com/envato/fuzo/ImageBg/inc/subscribe.php" method="post" class="sub-form"> -->
			<!-- <form action="//wordpress.us5.list-manage.com/subscribe/post?u=92e23d788cd06f9c165da3882&amp;id=bbc6211056" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate sub-form" target="_blank" novalidate> -->

                        <div class="row">
                          <div class="col-lg-12">
                          	<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div> 
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_92e23d788cd06f9c165da3882_bbc6211056" tabindex="-1" value="">
							</div>
                            <div class="input-group input-group-lg">
                                <input type="email" value="" name="email" placeholder="your@mail.com" class="email form-control" id="mce-EMAIL">
								
								

                                <div class="input-group-btn">
                                	<button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">SUBMIT</button>
                                </div>

                            </div>
                            <p>Powered by <a href="http://eepurl.com/L-l9H" title="MailChimp - email marketing made easy and fun">MailChimp</a></p>
                          </div>
                        </div>
                        
            </form>
            <!--Subscribe form ends here!-->
            
		<div class="backtohome"><i class="fa fa-long-arrow-left"></i> Go back to homepage</div>
		
		</div><!-- /container !-->
	</div><!-- /containersubscribe !-->
	<div class="clear"></div>
</div><!-- /subscribe !-->
<!--Subscribe to us Ends here!-->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>






<!--Contact Begins here!-->
<div id="contact"><!-- contact !-->
	<div class="getback gcontact"><i class="fa fa-angle-double-up"></i></div>
	
<div class="containercontact"><!-- containercontact !-->
		
		<div class="container"><!-- container !-->
		<h2 class="contacts">ติดต่อ <span class="fuzo">เรา</span></h2>
		<p class="contactp">ช่องทางการติดต่อเรา</p>
		<div class="bar animated fadeInUp"><div class="specialbar"></div></div>

<!--Contact Carousel Begins Here!-->
<div class="contactCar owl-carousel owl-theme" style="opacity: 0; display: block;">
  
  <!--Service #1-->
  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 400px; left: 0px; display: block;"><div class="owl-item" style="width: 100px;"><div class="socialm"> 
  	<i class="fa fa-facebook"></i>
  	<a href="http://www.facebook.com/bangkokimpress"><span>Facebook</span>
  	<p>ติดตามเราทาง Facebook</p></a>
  </div></div><div class="owl-item" style="width: 100px;"><div class="socialm"> 
  	<i class="fa fa-youtube-square"></i>
  	<a href="https://www.youtube.com/user/gooaun/videos"><span>Youtube</span>
  	<p>ดูผลงานทาง Youtube</p></a>
  </div></div></div></div>
  
  <!--Service #2-->
  
  <div class="socialm"> 
  	<i class="fa fa-google-plus"></i>
  	<span>Google Plus</span>
  	<p>Short description goes here</p>
  </div>
  
  <!-- Service #3 -->
  <div class="socialm"> 
  	<i class="fa fa-google-plus"></i>
  	<span>Google Plus</span>
  	<p>Short description goes here</p>
  </div>
  
</div>
<!--Carousel Ends Here!-->

<div class="contact-form"><!-- contact-form !-->
<form action="/contact-form-handler.php" method="post">
                          <div class="cline">
                            <input placeholder="ชื่อ..." id="name" type="text" name="name">
                          </div>
                          <div class="cline">
                            <input placeholder="E-mail..." id="email" type="text" name="email">
                          </div>
                          <div class="cline">
                            <textarea placeholder="ข้อความ..." id="message" name="message"></textarea>
                          </div>
                          <div class="cline">
                            <button type="submit">ส่งข้อความถึงเราได้ 24 ชั่วโมง !</button>
                          </div>
        
</form>
<h1 class="status-message-contact animated fadeInUp">my contact</h1>
</div><!-- /contact-form !-->
	
		</div>	<!-- /container !-->
	</div>	<!-- /containercontact !-->
</div><!-- /contact !-->
<!--Contact Ends here!-->


{% include footer.html %}



</body></html>
